# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE-related stuff and datafiles
.vscode/
.idea/
*.db
.DS_Store
*.txt

# Dependency directories and stuff
node_modules/
jspm_packages/
/bin
/pkg
*.gz
*.wasm
.wrangler*
.dev.vars
production_test_script.ts
CLAUDE.md
demos/cloudfront/dist
demos/cloudfront/config.ts
demos/fastly/src/config.js
demos/cloudflront/dist/trust-policy.json
AWSCLIV2.pkg
    